<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{120,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{160,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{200,0},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>number.png</string>
            <key>size</key>
            <string>{240,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663acfee6b0c3b69825f800e725ea109:3683686a0103b0789bb8dc082143baa5:d500031a6472c6b000cd39ee9d0775a8$</string>
            <key>textureFileName</key>
            <string>number.png</string>
        </dict>
    </dict>
</plist>
