<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moji_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{150,0},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{300,0},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{150,75},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{300,75},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{0,150},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{150,150},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moji_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,75}</string>
                <key>spriteSourceSize</key>
                <string>{150,75}</string>
                <key>textureRect</key>
                <string>{{300,150},{150,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sentakusi.png</string>
            <key>size</key>
            <string>{450,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162fe8933bf0c98c190b7bd577614eb8:b2f6a203d2d486bbd3f3b9460ed62b20:5670c2ca2d0639291e0a99f76437dd10$</string>
            <key>textureFileName</key>
            <string>sentakusi.png</string>
        </dict>
    </dict>
</plist>
